<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ru.academits.PhonebookSpringApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="PhonebookSpringWithLogs" />
    <envs />
    <method />
  </configuration>
</component>